<p id="notice"><%= notice %></p>

<h1>Modelos</h1>
<div class="col-lg-8 col-lg-offset-2">
  <table class="table">
    <thead>
      <tr>
        <th>Modelo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @modelos.each do |modelo| %>
        <tr>
          <td><%= modelo.modelo %></td>
          <td><%= link_to 'Ver', modelo %></td>
          <td><%= link_to 'Editar', edit_modelo_path(modelo) %></td>
          <td><%= link_to 'Borrar', modelo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Nuevo modelo', new_modelo_path %>

<br>

<a class="btn btn-lg btn-primary col-lg-offset-5" href="/admin" role="button">Volver a panel <span class="glyphicon glyphicon-backward"></span></a>
