<div class="container" align="center">
	<form class="form-signin" role="form"></form>
		<h2 class="form-signin-heading">Iniciar Sesi칩n</h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div><%= f.label :nombre %><br />
  		<div><%= f.email_field :email, autofocus: true, placeholder: :email %></div>
  	
  		<div><%= f.label :contrase침a %><br />
	  	<div>	<%= f.password_field :password, autocomplete: "off", placeholder: :contrase침a %></div>

  		<% if devise_mapping.rememberable? -%>
	    	<div><%= f.check_box :remember_me %> <%= f.label :recordar %></div>
  		<% end -%>

  	
  		<button class="btn btn-lg btn-primary" type="submit">Iniciar sesi칩n</button><br>
		<% end %>
	</form>
	<%= render "devise/shared/links" %>
</div>









