<p id="notice"><%= notice %></p>

<h1>Consultas realizadas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Consulta</th>
      <th>Respuesta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if current_user.tipo != 2 %>
  <tbody>
    <% @user_query.each do |userquery| %>
      <tr>
        <td><%= userquery.nombre %></td>
        <td><%= userquery.email %></td>
        <td><%= userquery.consulta %></td>
        <td><%= userquery.respuesta %></td>
        <td><%= link_to 'Mostrar', userquery %></td>
      </tr>
    <% end %>
  </tbody>

  <% else %>
  <tbody>
    <% @queries.each do |admquery| %>
      <tr>
        <td><%= admquery.nombre %></td>
        <td><%= admquery.email %></td>
        <td><%= admquery.consulta %></td>
        <td><%= admquery.respuesta %></td>
        <td><%= link_to 'Mostrar', admquery %></td>
        <td><%= link_to 'Editar', edit_query_path(admquery) %></td>
        <td><%= link_to 'Borrar', admquery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


<% end %>
</table>

<br>

<%= link_to 'Nueva consulta', new_query_path %>
