<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @query.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @query.email %>
</p>

<p>
  <strong>Consulta:</strong>
  <%= @query.consulta %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @query.respuesta %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
