<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @query.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @query.email %>
</p>

<p>
  <strong>Consulta:</strong>
  <%= @query.consulta %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @query.respuesta %>
</p>

<% if user_signed_in? %>
	<% if current_user.tipo == 2 %>  
  		<%= link_to 'Editar', edit_query_path(@query) %> |
  	<% else %>  
  	<% end %>
<% end %> 

<%= link_to 'Volver', queries_path %>

